page-home {
  .bg-image {
     background-image: url('../assets/imgs/HomeBackground.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  ion-content .scroll-content{
    overflow-y: auto; // or "overflow: auto;"
  }
  ion-grid {
    opacity:0.8;
    border:solid white;
    border-radius: 5px;
    background-color:#c1c1c1;
  }
  #homePage-button0 {
    border-radius:180px 180px 180px 180px;
    height:180px;
    width:180px;
    background-image: url('../assets/imgs/SOS.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .nav-button {
    border-radius:10px 10px 10px 10px;
    height:130px;
    width:130px;
  }
  #homePage-button1{
    background-image: url('../assets/imgs/Evac.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #homePage-button2{
    background-image: url('../assets/imgs/Social.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #homePage-button3{
    background-image: url('../assets/imgs/Data.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #homePage-button4{
    background-image: url('../assets/imgs/Hotline.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
