page-evacuation-system {
  .scroll {
        height: 100%
      }
  #map{
    height: 60%;
    width: 100%;
  }
  .bg-image {
     background-image: url('../assets/imgs/EvacBackground.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  ion-content .scroll-content{
    overflow-y: auto; // or "overflow: auto;"
  }
}
