page-data-analysis {
  .bg-image {
     background-image: url('../assets/imgs/DataBackground.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, white);
  }
  .more-info {
    border-radius:3px 3px 3px 3px;
    height:30px;
    width:30px;
    background-image: url('../assets/imgs/MoreInfo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h1 {
    margin-top:0px;
    color:#FFFFFF;
    font-size:15px!important;
    white-space: normal;
  }
  strong {
    color:#FFFFFF;
  }
  h2{
    font-size:18px;
    white-space: normal;
    display:inline;
    vertical-align:-webkit-baseline-middle!important;
  }
}
