<ion-header>
  <ion-navbar transparent>
    <ion-title>
      <p style="color:#ffffff;">Data Analysis</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class ="bg-image">
  <div class="spacer" style="height:5px;"></div>
    <ion-list>
        <ion-item>
            <ion-label floating>Select Location</ion-label>
            <ion-select [(ngModel)]="dataAnalytic" (ionChange)='HandleSelection(dataAnalytic)'>
              <ion-option *ngFor="let data of datanalysis" [value]="data">{{data.Location}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item style="background:transparent">
      <div *ngIf="selectedDA">
        <h1>
          <strong>
            Date & Time: {{selectedDA.Date}} {{selectedDA.Time}}
          </strong>
        </h1>
        <h1>
          <strong>
            Water Level Increment: {{selectedDA.Increment}}
          </strong>
        </h1>
        <h1>
          <strong>
            Water Level Status: {{selectedDA.Message}}
          </strong>
        </h1>
        <h1>
          <strong>
            Water Level Score: {{selectedDA.Flood_Severity}}
          </strong>
        </h1>
        <h1>
          <strong>
            Population Size Score: {{selectedDA.Population_Score}}
          </strong>
        </h1>
        <h1>
          <strong>
            Flood Risk Score: {{selectedDA.Flood_Risk_Score}}
          </strong>
        </h1>
      </div>
    </ion-item>
    <div class="spacer" style="height:15px;"></div>
    <div style="display:inline-block;padding-left:16px;">
      <button ion-button class="more-info" small on-click="SwitchMoreInfo()">
      </button>
      <h2 on-click="SwitchMoreInfo()">
        <strong>
          Click for more information
        </strong>
      </h2>
    </div>
</ion-content>
