page-more-info {
  .bg-image {
     background-image: url('../assets/imgs/DataBackground.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  h1 {
    margin-top:0px;
    color:#FFFFFF;
    font-size:15px!important;
    white-space: normal;
  }
  h2 {
    color:#FFFFFF;
    padding-left:1em;
    white-space: normal;
    font-size:14px!important;
  }
  ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, white);
  }
  ion-col {
    border: 1px solid white;
    color:#FFFFFF;
    font-size: 14px!important;
    text-align: center;
    white-space:normal;
  }
}
