page-data-display {
  .bg-image {
     background-image: url('../assets/imgs/DataBackground.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  .data-button {
    height:80px;
    width:100%;
    margin-top:20px;
    border:solid white;
    font-size:16px;
    font-weight:600;
  }
  #dataDisplay-button1{
    background-image: url('../assets/imgs/ActionButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  #dataDisplay-button2{
    background-image: url('../assets/imgs/ActionButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

  }
  #dataDisplay-button3{
    background-image: url('../assets/imgs/ActionButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
}
