page-hotline-info {
  .bg-image {
     background-image: url('../assets/imgs/HotlineBackground.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  ion-content .scroll-content{
    overflow-y: auto; // or "overflow: auto;"
  }
  a:link {
    color: #9ad3e8;
  }
  a:visited {
    color: #999999;
  }
  h1 {
    margin-top:0px;
    color:#FFFFFF;
    font-size:15px!important;
    white-space: normal;
  }
  h2 {
    font-size:14px!important;
    color:#FFFFFF;
    padding-left:1em;
    white-space: normal;
  }
  img {
    height:25%;
    width:25%;
  }
}
